@media (max-width: 1440px) {
    body {
        margin: 0 auto;
    }
    .main-wrapper {
        margin-left: 240px;
    }
    .slider-nav {
        bottom: 17rem;
        margin-left: 80%;
    }
    .text {
        left: 25px;
        top: 660px;
    }
}
@media (max-width: 1280px) {
    body {
        margin: 0 auto;
    }
    .main-wrapper {
        margin-left: 260px;
    }
    .slider-nav {
        bottom: 9rem;
        margin-left: 80%;
    }
    .text {
        left: 25px;
        top: 550px;
    }
}
@media (max-width: 1024px) {
    body {
        margin: 0 auto;
    }
    .main-wrapper {
        margin-left: 110px;
    }
    .slider-nav {
        bottom: 13rem;
        margin-left: 80%;
    }
    .text {
        left: 25px;
        top: 600px;
    }
}
@media (max-width: 768px) {
    body {
        margin: 0 auto;
    }
    .main-wrapper {
        margin-left: 100px;
    }
    .slider-nav {
        bottom: 7rem;
        margin-left: 0;
    }
    .text {
        left: 275px;
        top: 510px;
    }
}